

.header {
  font-size: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  font-weight: bold;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  min-width: fit-content;
  height: 3rem;
  font-size: 2rem;
  border-radius: 8px;
  background-color: rgb(59, 59, 62);
  margin: auto;
}

.button:hover {
  background-color: lightgreen;
  color: black;
}


.footer {
  width: -moz-fit-content;
  width: fit-content;
}
